.container{
  border-color: #003f5c;
}

.with-title{
  border-color: #003f5c;
}

h1{
  color: #ff6361;
}

p{
  color: #ffa600;
}

#flip_image{
  height: 200px;
  float: right;
  padding: 20px;
}

#dog_box{
  width : 50%;
  float: left;
  margin: 50px;
}

#flip_images{
  margin-bottom: 100px;
}

#flip_collection{
  margin-bottom: 400px;
}

#simulation_plots{
  margin-top: 400px;
}

#num_pick{
  float: right;
  font-size: 10px;
}

#prob_pick{
  float: left;
  margin-right: 200px;
  font-size: 10px;
}

#pick_number{
  float: left;
}

.shiny-bound-input{
  float: left;
}